.fff .select-replacement {
/*  display: block;   OPERA */
  display: inline-block;
}

.fff .select-replacement span {
  background: #FFF url(../images/selectbox-background.png) repeat-x right -18px;
  border: 1px solid #B2B2B2;
  padding: 2px 25px 0px 5px;
  color: #000;
  font-size: 93%;
  height: 16px;
  cursor: pointer;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
}

.fff .select-replacement .password_question {
  width: 160px;
}

.fff .select-replacement span.disabled {
  color: #999;
  cursor: default;
  outline: none;
}

.fff .select-replacement span.disabled:hover,
.fff .select-replacement span.disabled:focus {
  background-position: right -18px;
}

.fff .select-replacement span:hover,
.fff .select-replacement span:focus {
  background-position: right 0px;
}

.fff .select-replacement ul {
  background: #FFF;
  border: 1px solid #B2B2B2;
  list-style: none;
  padding: 2px 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 220px;
  position: absolute;
  top: 21px;
  left: 0;
}

.fff .select-replacement ul li {
  padding: 1px 5px;
  color: #111;
  text-align: left;
  font-size: 93%;
  white-space: nowrap;
  cursor: pointer;
}

.fff .select-replacement ul li:hover {
  background: #CFCFCF;
}

.fff .select-replacement ul li.selected {
  color: #FFF;
  background: #999;
}

.fff .select-replacement ul li.selected:hover {
  color: #111;
  background: #CFCFCF;
}

.fff .select-replacement ul li.disabled {
  color: #999;
}

.fff .select-replacement ul li.disabled:hover {
  background: #FFF;
  cursor: default;
}

